#home-filter {
    padding: 25px;
    display: flex;
}

#home-filter > div, #home-filter > ul {
    flex: 1;
}

#home-filter > div > div {
    margin-top: 15px;
    display: flex;
    gap: 25px;
}

input[placeholder] {
    width: 63%;
}

#home-filter > div > div > div {
    width: 25%;
}

#sort-block {
    display: flex;
    flex-direction: column;
}

input[type="number"],
#sort-block > select {
    width: 100%;
    margin-top: 5px;
}

#home-filter > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags-filter {
    height: 25px;
    border: 2px solid #E31C25;
    border-radius: 15px;
    padding: 5px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.tags-filter.selected {
    background-color: #E31C25;
}

/* CARD */
.movie-card {
    list-style: none;
    overflow: hidden;
    border-radius: 15px;
    width: 300px;
    padding-bottom: 10px;
    background: #2C2C2C;
    display: flex;
    flex-direction: column;
}

/* IMAGE CONTAINER */
.movie-image-container {
    position: relative;
}

/* IMAGE */
.movie-image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

/* ICONS (top right) */
.movie-icons {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    gap: 8px;
    color: #FFFFFF;
    cursor: pointer;
}

.movie-icons svg {
    font-size: 25px;
}

.movie-icons svg.active {
    color: #e31c25;
}

/* TITLE OVERLAY */
.movie-title-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.movie-title-overlay p {
    margin: 0;
    font-size: 25px;
    color: #FFFFFF;
}

/* SYNOPSIS */
.movie-synopsis {
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    color: #FFFFFF;
}

/* GENRES */
.movie-genres {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.movie-genres span {
    border-radius: 15px;
    padding: 5px;
    background: #E31C25;
    font-size: 18px;
    color: #FFFFFF;
}
